<footer> This is the footer
<div id="share-buttons">

    <!-- Email -->
    <a href="mailto:karl@reclaimedartcraftsman.com https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    </a>

    <!-- Facebook -->
    <a href="http://www.facebook.com/ReclaimedArtCraftsman" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>

    <!-- Pinterest -->
    <a href="http://www.pinterest.com/karlhass" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest" />
    </a>

    <!-- Twitter -->
    <a href="https://twitter.com/ReclaimArtCraft" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>


</div>
<div class="address">
    <h4>Reclaimed Art Craftsman Minneapolis MN 55416</h4>
    <h4>Phone 320.282.4575  Email Karl@reclaimedartcraftsman.com </h4>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <ul class="nav nav-pills nav-justified">
            <li><a href="#header">HOME</a></li>
            <li><a href="#pinder">Pinder</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#about">About</a></li>

            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</div>
</footer>